@import '../breakpoints.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    column-gap: 7rem;

    h1 {
        font-size: 2.3rem;
        font-weight: 700;
        text-align: center;
    }
    section {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        background-color: white;
        padding: 2rem;
        width: clamp(15rem, 80vw, 20rem);
        box-shadow: 0 2px 16px 2px rgb(0 0 0 / 20%);
        border-radius: 1rem;
    }
    button {
        margin: auto;
    }
}

@include media('>tablet') {
    .container {
        flex-direction: row;
        align-items: center;
    }
}
