@import '../breakpoints.scss';

.container {
    padding: clamp(1rem, 4vw, 5rem);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    @include media('>desktop') {
        justify-content: space-between;
    }
    section {
        display: flex;
        gap: 3rem;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        @include media('>desktop') {
            margin: unset;
        }
    }

    h1 {
        font-size: clamp(2rem, 5vw, 5rem);
    }
    p {
        font-size: clamp(1rem, 2vw, 1.5rem);
        font-weight: 500;
        max-width: clamp(40ch, 40vw, 60ch);
    }
    .contactContainer {
        display: flex;
        gap: 1rem;
        align-items: center;
        width: fit-content;
        gap: 3.5rem;
    }
    .contactIcons {
        font-size: 3rem;
        color: var(--primary-color);
        cursor: pointer;
    }

    img {
        display: block;
        position: relative;
        top: 30px;
        width: clamp(12rem, 30vw, 40rem);
    }
}
