@import '../breakpoints.scss';

.container {
    section {
        margin-block: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1rem;
        font-weight: 500;
        max-width: 70ch;
    }
    .contactContainer {
        display: flex;
        gap: 1rem;
    }
    .contactIcons {
        font-size: 3rem;
        color: var(--primary-color);
        cursor: pointer;
    }
    .skillIcons {
        color: var(--primary-color);
        font-size: 5rem;
    }
}

@include media('>tablet') {
    .container {
        display: flex;
        flex-direction: row;
    }
}
