@import '../breakpoints.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 7rem;
    section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    h1 {
        font-size: clamp(2rem, 5vw, 5rem);
    }
    p {
        font-size: clamp(1rem, 5vw, 1.5rem);

        font-weight: 500;
        max-width: 50ch;
    }
    .contactContainer {
        display: flex;
        gap: 1rem;
        align-items: center;
        width: fit-content;
        gap: 3.5rem;
    }
    .contactIcons {
        font-size: 3rem;
        color: var(--primary-color);
        cursor: pointer;
    }
    .skillIcons {
        color: var(--primary-color);
        font-size: 5rem;
    }
    img {
        display: none;
    }
}

@include media('>tablet') {
    .container {
        img {
            display: block;
            position: relative;
            top: 30px;
            width: 40rem;
        }
    }
}
