@import '../breakpoints.scss';
.nav {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .linksContainer {
        display: none;
    }
}
@include media('>tablet') {
    .nav {
        .linksContainer {
            display: flex;
            gap: 2.5rem;
            flex-direction: row;
            align-items: center;
        }
        section {
            display: flex;
            gap: 2.5rem;
            align-items: center;
            width: unset;
        }
    }
}
