@import '../breakpoints.scss';
.sideNav {
    position: relative;
    left: -20px;
    width: 30px;
}

.sideNavColor {
    color: var(--text-primary);
}
.nav {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    section {
        display: flex;
        gap: 2.5rem;
        align-items: center;
        width: unset;
        button {
            display: none;
        }
    }
    .linksContainer {
        display: none;
    }
}
@include media('>tablet') {
    .nav {
        .linksContainer {
            display: flex;
            gap: 2.5rem;
            flex-direction: row;
            align-items: center;
        }
        section {
            button {
                display: unset;
            }
        }
    }
    .sideNavContainer {
        display: none;
    }
}
