.container {
    i {
        display: block;
        box-shadow: 0 2px 16px 2px rgb(0 0 0 / 20%);
        width: clamp(270px, 50vw, 400px);
        flex-basis: 40%;
        border-radius: 10px;
        img {
            border-radius: 10px;
        }
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 2rem;
    width: clamp(300px, 90vw, 1100px);
    max-height: 90vh;
    overflow: auto;
}
.closePopup {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 2;
    font-size: 3rem;
    color: black;
    cursor: pointer;
}
